<div class="component">
  <div class="col">
    <img src="https://nl.iko.com/wp-content/uploads/2018/04/IKO-foto-achtergrond-transparant-verkleind.png" />
  </div>
  <div class="col">
    <p>
      nav:
      <a routerLink="user">User</a>
      |
      <a routerLink="product">Product</a>
      |
      <a routerLink="userlist">User List</a>
      |
      <a routerLink="columns">Columns</a>
      |
      <a routerLink="about">About</a>
    </p>
  </div>
</div>
