<div class="component">
  <div class="row">
    <div class="col">
        <a
        class="btn btn-primary btn-sm float-right"
        href="#"
        role="button"
        routerLink="new"
        >New</a
      >
    </div>
  </div>
  <div class="table">
    <thead>
      <th>User</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>
          <a routerLink="{{ user.id }}"> {{ user.firstName }} {{ user.lastName }} </a>
        </td>
        <td>
          {{ user.emailAdress }}
        </td>
      </tr>
    </tbody>
  </div>
</div>
