<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-10">
      <h1 id="aboutTitle">Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda. De inspiratie van mijn casus komt voort uit de minor waar ik momenteel aan werk. In deze minor 
        steun ik samen met een groepje het bedrijf IKO Insulations bij het keuzemakingsproces aan de hand van data. 
        Zij zouden ook graag een online werkomgeving hebben, maar aangezien dit buiten de scope van de minor valt 
        heb ik (met toestemming) besloten om de casus van het vak Clientside web frameworks in het thema van het bedrijf te maken. 
        Zo houd ik de casus realistisch, en kunnen zij hieruit mogelijk inspiratie halen.
      </p>
      <h3>IKO Insulations grondstoffen en testmaterialen</h3>
      <p>
        Binnen deze casus zouden in theorie de medewerkers van het bedrijf, oftewel de users, gegevens over grondstoffen, testproducten, 
        en bijbehorende testen af kunnen lezen en in kunnen vullen. Uiteraard kan alleen een administrator gegevens over producten en testen 
        verwijderen uit het systeem. 
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dylan Mulder</h5>
          <p class="card-text">Studentnr: 2145766</p>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Entiteiten</h3>
  <p>
    Mijn drie entiteiten, naast de user zijn het Product, dit wil zeggen een grondstof of testmateriaal. 
    Deze bevat een lijst met goedkeuringen van verschillende bedrijven, dit bevat bijvoorbeeld de datum en een url naar een certificaat. 
    Hiernaast kan een Product altijd meerdere Trials ofwel testen met zich meebrengen. 
    Tot slot worden Trials altijd door 1 persoon uitgevoerd. (Id's zijn voor overzichtelijkheid weggelaten, maar die worden natuurlijk gewoon gebruikt.)
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>Product</p>
      <ul>
        <li>Name: string</li>
        <li>Type: string</li>
        <li>Chemical: string</li>
        <li>Description: string</li>
        <li>Density: number</li>
        <li>Thickness: number</li>
        <li>Supplier: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Approval</p>
      <ul>
        <li>ApprovedSelf: boolean</li>
        <li>ApprovedSelfDate: Date</li>
        <li>ApprovedSelfCertificate: string</li>
        <li>ApprovedThird: boolean</li>
        <li>ApprovedThirdDate: date</li>
        <li>ApprovedThirdCertificate: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Trial</p>
      <ul>
        <li>Date: date</li>
        <li>Goal: string</li>
        <li>Properties: string</li>
        <li>LengthMin: number</li>
        <li>Remarks: string</li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <img src="assets/images/datamodelIko.png" alt="..." />
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
    </div>
  </div>
  