.footer{
    background-image: url(https://nl.iko.com/wp-content/uploads/2019/11/background-footer.jpg);
    color:white;
    height:250px;
}

.navbar{
    background-color: #525252;
    color:white;
    height:250px;
    background-image: url(https://nl.iko.com/wp-content/uploads/2020/03/header-overons.jpg);
}

.jumbotron{
    padding-top: 0px;
    padding-bottom: 0px;
}

