<div class="component">
  <div class="row">
    <h1>User details</h1>
  </div>
  <div>
    <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="edit">Edit</a>
  </div>
  <div class="row">
    <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
  </div>
  <p>email: {{ user?.emailAdress }}</p>
</div>
